body {
    background-color: #00ffff; 
    font-family: Arial, Helvetica, sans-serif;
}

#page-title,
h2,
p    {
    text-align: center;
    font-weight: 100;
    background-color: #fff;
}

#page-title {
    
    padding: 40px;
    margin-left: -10%;
    margin-right: -10%;
}

h2 {
    margin-left: -10%;
    margin-right: -10%;
    padding: 20px;
}

p {
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.menu-item {
    text-align: center;
    list-style: none;
   
    font-size: 20px;
    background-color: #ff43ff;
    margin: 10px 25%;
    padding: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page-title + ul {
   
   padding: 5px;

}


a {
   color: #fff; 
   text-decoration: none;
   padding: 5px
}

li {
    padding: 5px;
}